<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            width: 33%;
        }

        #res {
            background-color: lightgray;
            border: solid;
            height: 48px;
            font-size: 20px;
        }

        #btn0,
        #btn1 {
            background-color: lightgreen;
            color: brown;
        }

        #btnClr,
        #btnEql {
            background-color: darkgreen;
            color: white;
        }

        #btnSum,
        #btnSub,
        #btnMul,
        #btnDiv {
            background-color: black;
            color: red;
        }

        .btn {
            width: 25%;
            height: 36px;
            font-size: 18px;
            margin: 0;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn:active {
            background-color: red !important;
            color: white !important;
        }
    </style>
</head>

<body>

    <div id="res"></div>
    <div id="btns">
        <div class="btn" id="btn0">0</div>
        <div class="btn" id="btn1">1</div>
        <div class="btn" id="btnClr">C</div>
        <div class="btn" id="btnEql">=</div>
        <div class="btn" id="btnSum">+</div>
        <div class="btn" id="btnSub">-</div>
        <div class="btn" id="btnMul">*</div>
        <div class="btn" id="btnDiv">/</div>
    </div>

    <script src="/public/cal.js"></script>

</body>

</html>